*.sublime-*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.tmp
.sass-cache
node_modules
#bower_components

bower_components/*

!bower_components/bootstrap/dist/css/bootstrap.min.css
!bower_components/jquery/jquery.min.js
!bower_components/jquery-ui/ui/minified/jquery-ui.min.js
!bower_components/bootstrap/dist/*