body {
  padding-top: 50px;
  padding-bottom: 50px;

  position: relative;
  background-color: #e5e5e5;
}


.cgt-block-gris {
    background-color:#F5F5F5;
    border: 1px solid #D8D8D8;
}


.cgt-block-blanc {
    background-color:#FFF;
    border: 1px solid #D8D8D8;
}


.cgt-block-bleu {
    color: #FFF;
    background-color: #4374E0;
}

.cgt-block-violet {
    color: #FFF;
    background-color: #703593;
}

.cgt-block-vert {
    color: #FFF;
    background-color: #53A93F;
}


.cgt-block {
    z-index: 2;
	width:80%;
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
    border-width: 1px 1px 2px;

    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px / 3px;
    -khtml-border-radius: 3px / 3px;
    border-radius: 3px / 3px;

    -webkit-transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;;
    -moz-transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;;
    -o-transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;;
    transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;;
}




.img-container{
	width: 300px;
	display: inline-block;
}

.desc-container{
	display: inline-block;
}

.options-container{
	display: inline-block;
}

.cache{
	display: none;
}

#EmplacementItineraireCarte{
	width:50%;
	height: 400px;
}

#EmplacementItineraireTexte {
	height: 50%;
	padding: 15px;
}

.details{
	background: url("/img/plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 111px;
    width: 111px;
	border:none;
	float: right;
}
.reduire{
	background: url("/img/moins.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 111px;
    width: 111px;
	border:none;
	float: right;
}
.img-voiture{
	display: inline-block;
}

.voyage-voiture p{
	display: inline-block;
}

.header-destination{
	padding-left:15px;
}