<!DOCTYPE html>
<html ng-app="cgtApp">
  <head>
    <title>Charoy's Good Trip</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery-ui/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

  <body ng-controller="cgtCtrl">

    <!-- Navbar -->
    <!--
    <header role="banner" class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">Charoy's Good Trip</a>
        </div>

        <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Link L.</a></li>
            <li><a href="#">Link L.</a></li>
            <li><a href="#">Link L.</a></li>
            <li><a href="#">Link L.</a></li>
            <li><a href="#">Link L.</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link R.</a></li>
            <li><a href="#">Link R.</a></li>
            <li><a href="#">Link R.</a></li>
            <li><a href="#">Link R.</a></li>
            <li><a href="#">Link R.</a></li>
          </ul>          
        </nav>
      </div>
    </header>
    -->
    <!-- Navbar -->


    <!-- Container -->
    <div class="container">

      <div ng-controller="cRessource">
        <div ng-controller="atriumCtrl">

          <input type="text" ng-model="hashRoom"></input>
          <button ng-click="readRoom(hashRoom)">join Room</button>
          <button ng-click="createRoom()">create Room</button>

        </div>

        <div ng-controller="roomCtrl">
          <span>{{room.hash}}</span>
          <input type="text" ng-model="room.name" ng-change="op.save(room,url())"></input>

          <button ng-click="createTrip()">create Trip</button>

          <div ng-controller="tripCtrl" ng-repeat="trip in room.trips">
            trip name : <input type="text" ng-model="trip.name" ng-change="op.save(trip,url())"></input> | <input type="text" ng-model="trip.city" ng-change="op.save(trip,url())"></input>
          </div>

          <div ng-repeat="user in room.users">
             user name : <input type="text" ng-model="user.name"></input>
          </div>

        </div>
        
      </div>
      

      <!-- Search Menu -->
	  <div class="row">
		  <div class="cgt-block cgt-block-gris">
			<form role="form" ng-submit="search()">
			  <div class="col-lg-4">
				<input type="text" class="form-control input-lg" id="search_location" ng-model="search_location" placeholder="Where do you want to go ?" autocomplete="off" />
			  </div>

			  <div class="col-lg-2">
				<div class="input-group">
				  <input type="text" class="form-control input-lg" id="search_check_in" ng-model="search_check_in" placeholder="Check in" autocomplete="off" />
				  <span class="input-group-addon glyphicon glyphicon-calendar"></span>
				</div>            
			  </div>

			  <div class="col-lg-2">
				<div class="input-group">
				  <input type="text" class="form-control input-lg" id="search_check_out" ng-model="search_check_out" placeholder="Check out" autocomplete="off" />
				  <span class="input-group-addon glyphicon glyphicon-calendar"></span>
				</div>
			  </div>

			  <div class="col-lg-2">
				<select class="form-control input-lg" id="search_nb_guest" ng-init="search_nb_guests=1" ng-model="search_nb_guests">
				  <option value="1">1 guest</option>
				  <option value="2">2 guests</option>
				  <option value="3">3 guests</option>
				  <option value="4">4 guests</option>
				  <option value="5">5 guests</option>
				  <option value="6">6 guests</option>
				  <option value="7">7 guests</option>
				  <option value="8">8 guests</option>
				  <option value="9">9 guests</option>
				  <option value="10">10 guests</option>
				  <option value="11">11 guests</option>
				  <option value="12">12 guests</option>
				  <option value="13">13 guests</option>
				  <option value="14">14 guests</option>
				  <option value="15">15 guests</option>
				  <option value="16">16+ guests</option>
				</select>
			  </div>

			  <div class="col-lg-2">
				<input type="submit" class="hidden">
				<button type="button" ng-click="search()" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-search"></span> Search</button>
			  </div>
			</form>
		  </div>
	  </div>
      <!-- /Search Menu -->


      <!-- Google Map -->
      <div class="row">
        <div class="cgt-block cgt-block-blanc">
          <div class="col-lg-12">
            <div id="cgt-gl-map" style="width:100%; height:400px"></div>
          </div>
        </div>
      </div>
      <!-- /Google Map -->


      <div class="row">
        <div class="cgt-block cgt-block-vert">
          <div class="col-lg-12">
            <div class="page-header">
              <h4>City : {{search_location}}, Date : , People :  </h4>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="cgt-block cgt-block-blanc voyage_voiture" ng-class="{cache : !search_location}">
          <img src="./img/icone-voiture.png" alt="voiture" class="img-voiture"/>
          <span>Voyager en voiture</span>
          <button class="details" ng-click="details=!details" ng-class="{reduire : details}"></button>
          <div id="EmplacementItineraireCarte" class="cache"></div>
          <div id="EmplacementItineraireTexte" ng-class="{cache : !details}"></div>
        </div>
      </div>


      <div class="row">
        <div class="cgt-block cgt-block-violet">
          <div class="col-lg-12">
            <div class="page-header">
              <h4>Icônes utiles ?</h4>
            </div>

            <p>
              <span class="glyphicon glyphicon-signal"></span> Wifi
              <br />

              <span class="glyphicon glyphicon-road"></span> Parking
              <br />

              <span class="glyphicon glyphicon-thumbs-up"></span> Nice
              <br />

              <span class="glyphicon glyphicon-thumbs-down"></span> That sux
              <br />

              <span class="glyphicon glyphicon-usd"></span> $$$ :3
              <br />

              <span class="glyphicon glyphicon-plane"></span> (✿ ^.^)✿●•٠·˙
              <br />

              <span class="glyphicon glyphicon-globe"></span> The World is mine ★•  ♫♫  *♥*  ♫♫  •★
              <br />
            </p>
          </div>
        </div>
      </div>


      <!-- Template Item -->
      <div class="row">
        <div ng-repeat="item in items" class="cgt-block cgt-block-blanc">
          <div class="col-lg-12">
            <div class="page-header">
              {{item.typeAlias.propType}} in {{item.origin}}, {{item.country}} for {{item.occupancy}} people
            </div>

            <div class="page-container">
              <img src="{{item.photos[0].url}}" alt="" class="img-container"/>

              <div class="desc-container">
                <ul>
                  <li><span class="glyphicon glyphicon-globe"></span> Localisation : ({{item.latLng[0]}}, {{item.latLng[1]}})</li>
                  <li>Type of room : {{item.typeAlias.roomType}}</li>
                  <li><span class="glyphicon glyphicon-usd"></span> Price : ${{item.price}}</li>
                  <li>
                    <span class="glyphicon glyphicon-signal"></span> Wifi : 
                    <span class="glyphicon glyphicon-ok" ng-class="{cache : item.amenities.indexOf('wifi') == -1}"></span>
                    <span class="glyphicon glyphicon-remove" ng-class="{cache : item.amenities.indexOf('wifi') > -1}"></span>
                  </li>
                  <li>
                    <span class="glyphicon glyphicon-road"></span> Parking : 
                    <span class="glyphicon glyphicon-ok" ng-class="{cache : item.amenities.indexOf('parking') == -1}"></span>
                    <span class="glyphicon glyphicon-remove" ng-class="{cache : item.amenities.indexOf('parking') > -1}"></span></li>
                </ul>
              </div>

              <div class="options-container">
                Vote :
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Template Item -->

    </div>
    <!-- /Container -->



    <!--<script src="socket.io/socket.io.js"></script>-->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>



    <script>
      $('#search_check_in').datepicker({
        minDate: 0,
        numberOfMonths: 2
      });
      $('#search_check_out').datepicker({
        minDate: 0,
        numberOfMonths: 2
      });
    </script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/app.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		function initialiser() {
			var latlng = new google.maps.LatLng(46.779231, 6.659431);
			//objet contenant des propriétés avec des identificateurs prédéfinis dans Google Maps permettant
			//de définir des options d'affichage de notre carte
			var options = {
				center: latlng,
				zoom: 19,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			
			//constructeur de la carte qui prend en paramêtre le conteneur HTML
			//dans lequel la carte doit s'afficher et les options
			var carte = new google.maps.Map(document.getElementById("carte"), options);
		}
		
		var itineraireRequete = {
			origin: "rue Nationale, Tours, FR",
			destination: new google.maps.LatLng(47.129172,0.998468),
			travelMode: google.maps.TravelMode.DRIVING
		}

		function initialisation(){
			var centreCarte = new google.maps.LatLng(47.389982, 0.688877);
			var optionsCarte = {
				zoom: 8,
				center: centreCarte,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var itineraireCarte = new google.maps.Map(document.getElementById("EmplacementItineraireCarte"), optionsCarte);
			/**
			 * Moteur de rendu
			 */
			var optionsItineraireAffichage = {
				map: itineraireCarte,
				panel: document.getElementById("EmplacementItineraireTexte")
			}
			var itineraireAffichage = new google.maps.DirectionsRenderer(optionsItineraireAffichage);
			/**
			 * Service itinéraire
			 */
			var itineraireService = new google.maps.DirectionsService();
			/**
			 * Objet littéral
			 */
			 var itineraireRequete = {
				origin: "Nancy, FR",
				destination: "Paris, FR",
				travelMode: google.maps.TravelMode.DRIVING
			}
			/**
			 * Envoie la requête vers les serveurs Google (Asynchrone)
			 */
			itineraireService.route(itineraireRequete, function(itineraireResultat, itineraireCodeStatut) {
				/**
				 * Si le résultat est valide on demande au moteur de rendu
				 * d'utiliser ce résultat pour mettre à jour l'affichage
				 * de l'itinéraire ( carte + roadbook)
				 */
				if (itineraireCodeStatut === google.maps.DirectionsStatus.OK) {
					 itineraireAffichage.setDirections(itineraireResultat);
					 console.log(itineraireResultat.routes[0].legs[0].distance.text);
					 console.log(itineraireResultat.routes[0].legs[0].duration.text);
				/**
				 * Sinon on affiche le code erreur
				 */
				}else{
					alert('Erreur : ' + itineraireCodeStatut);
				}
			});
		}
		google.maps.event.addDomListener(window, 'load', initialisation)
	</script>

    <script>
    (function() {




      var options = {
        zoom: 5,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var geo = new google.maps.Geocoder();
      var map = new google.maps.Map(document.getElementById('cgt-gl-map'), options);
    
      var city = 'Paris';      

      geo.geocode({
        'address': city
      },
      function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);

          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        }
      });

    })();
    </script>
  </body>
</html>
